<nav class="topbar">
  <div class="topbar__container">
    
    <div class="topbar__logo" [routerLink]="['/']">
      <img src="assets/icons/logo.svg" alt="Logo Empresa Conectada" class="topbar__logo-img">
    </div>

    <ul class="topbar__menu">
      <li *ngFor="let link of menuLinks" class="topbar__menu-item">
        <a 
          [routerLink]="[link.url]" 
          [fragment]="link.fragment"
          [class]="link.cssClass"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="topbar__link">
          
          <i *ngIf="link.icon" [class]="'fas ' + link.icon" class="topbar__link-icon"></i>
          
          <span class="topbar__link-label">{{ link.label }}</span>
        </a>
      </li>
    </ul>

    <div class="topbar__actions">
      <button 
        type="button"
        class="btn-access"
        (click)="onLogin()"
        aria-label="Acceder al área de clientes">
        <i class="fas fa-user-lock"></i>
        <span>Acceso</span>
      </button>
    </div>

  </div>
</nav>