server:
  port: 8081
  shutdown: graceful

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/andrewscl/hsys-config-repo.git
          default-label: main
          clone-on-start: true
          force-pull: true #actualiza el pod

management:
  health:
    probes:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,env