####################################
# Git
####################################
.git
.gitignore

####################################
# IDE
####################################
.vscode
.idea
*.iml

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Env files (MUY IMPORTANTE)
####################################
.env
.env.*

####################################
# Node
####################################
**/node_modules
**/dist
**/.angular

####################################
# Maven
####################################
**/target
**/.gradle

####################################
# Logs
####################################
*.log