@use 'abstracts/variables' as *;

.login-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.9); // Un blanco con ligera transparencia
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;

  &__header {
    margin-bottom: 20px;
    h3 {
      color: $text-primary;
      font-size: $fs-md;
      margin-bottom: 5px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    .form-group {
      text-align: left;
      label { display: block; font-size: 0.8rem; margin-bottom: 5px; color: #444; }
      input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #ddd;
        outline: none;
        &:focus { border-color: #7000ff; }
      }
    }
  }
}

.btn-login {
  background: linear-gradient(135deg, #00f2ff, #7000ff); // El cian y violeta de tus ondas
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}