<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Registro de Usuario</h2>
    <form th:action="@{/auth/signup}" method="post" th:object="${user}">
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" /><br/>
    
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" /><br/>
    
        <label for="role">Role:</label>
        <input type="text" th:field="*{role}" /><br/>
    
        <button type="submit">Registrar</button>
    </form>
    
</body>
</html>