<div class="table-responsive">
  <table class="hsys-table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Cliente</th>
        <th>Rut</th>
      </tr>
    </thead>
    <tbody>
      @for (item of dataSource; track item.userId) {
        <tr>
          <td>{{ item.username }}</td>
          <td>{{ item.companyName }}</td>
          <td>
            <span class="badge">{{ item.businessRole }}</span>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">No se encontraron registros.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
