# Ignorar Help file generado por Spring Boot
HELP.md

# Ignorar carpetas de compilación
target/
build/

# Ignorar Maven Wrapper binarios descargados
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.sts4-cache
.springBeans
.settings/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/