.auth-layout {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  
  background-image: url("../../../../assets/images/gray-background-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -200px;
  position: relative;
  overflow: hidden;
  
  .auth-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 10;

    .auth-logo {
      height: 60px;
      width: auto;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .auth-content {
    margin-top: 50px;
    flex: 1;
    display: flex;
    align-items: center; // Centrado vertical
    justify-content: center; // Centrado horizontal
    padding: 20px;
    z-index: 10; // Por encima del brillo de fondo
  }

  .auth-footer {
    padding: 1.5rem;
    text-align: center;
    z-index: 10;

    p {
      color: rgba(255, 255, 255, 0.4);
      font-size: 0.85rem;
      letter-spacing: 0.5px;
      margin: 0;
    }
  }

}



